.loading-area{
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-area.done{
    animation: loadingDone 1s;
    animation-fill-mode: forwards;
}

.loading-area span{
    width: 10px;
    height: 30px;
    background: #EE5A24;
    display: inline-block;
    margin: 0 2px;
    border-radius: 10px;
    animation: loadingAnim 2.5s;
    animation-iteration-count: infinite;
}

.loading-area span:nth-child(2){
    animation-delay: 0.25s;
}
.loading-area span:nth-child(3){
    animation-delay: 0.50s;
}
.loading-area span:nth-child(4){
    animation-delay: 0.75s;
}
.loading-area span:nth-child(5){
    animation-delay: 1s;
}
@keyframes loadingAnim{
    0%{
        height: 30px;
    }
    20%{
        height: 100px;
    }
    40%{
        height: 30px;
    }
    100%{
        height: 30px;
    }
}

@keyframes loadingDone{
    0%{ opacity: 1}
    70%{ opacity: 0}
    100%{ opacity: 0; display: none;}
    
}